/*Importação de fonte*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


:root{
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #C9C9C9;

    --fonte-padrao: 'inter';
}

    body{
        margin: 0px;
        padding: 0px;

        background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
        background-repeat: no-repeat;
    }

    /*Menu de navegação principal */
    #principal{
        width: 100%;
        height: 100px;
        background-color: #303030;  
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #BABABA;         
    }
        #menu {
            display: flex;
            width: 45%;
            justify-content: space-around;
            align-items: center;
            margin-left: 5%;
        }
        #principal div a{
            font-family: 'Inter';
            font-size: 25px;
            font-weight: 600px;
            color: white;
            text-decoration: none;

        }
            #principal div a:hover{
                color: #CCCCCC;
            }
        #principal button{
            margin-right: 5%;
            background-color: #0C70F2;
            border: 0px;
            height: 40px;
            width: 80px;
            font-family: 'inter';
            font-size: 20px;
            font-weight: 600;
            color: white;
            box-shadow: 3px 2px 4px 0px #0C70F240;
            cursor: pointer;
        }
    /* Seção principal do site*/
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }
        header {
            color: white;
            font-family: 'inter';
        }
        header h1 {
            text-transform: uppercase;
            font-size: 80px;
            font-weight: 800;
            margin-bottom: 20px;
            text-align: center;
        }
        header h2 {
            text-align: center;
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 100px;
        }
        header .invert{
            background-color: black;
            font-weight: bold;
            padding: 5px;
        }
        form{
            color: white;
            font-family: 'inter';
            font-size: 30px;
            font-weight: 600;
            width: 600px;
        }
        .form-group{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        form input{
            border-radius: 10px;
            height: 30px;
            border: 0px;
            font-size: 20px;
            padding: 10px;
            background-color: #FFFFFFE5;
        }
        form label{
            margin: 10px 0px 10px 0px;
        }
        form input::placeholder{
            color: #39393980;
        }
        .checkbox-itens label{
            font-size: 25px;
        }
        .checkbox-itens{
            display: flex;
            justify-content:space-around;
            align-items: center;

        }

        input[type="checkbox"]{
            transform: scale(1.7);
        }

        input[type="submit"]{
            background-color: #0C70F2E5;
            width: 100%;
            height: 56px;
            color: white;
            font-size: 32px;
            margin-top: 100px;
            box-shadow: 0px 6px 4px 0px #0C70F240;
            

        }